# See Font Awesome docs here:
# https://fontawesome.com/v6/docs/web/setup/packages#alternate-per-project-setup-using-environment-variables
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
